<main>
  <h1>Welcome to the Tech Blog</h1>
  <div class="grid-container">
    {{#each posts}}
      <article>
        <h3>{{this.title}}</h3>
        <p>By {{this.user.username}} on {{this.createdAt}}</p>
        <p>{{this.content}}</p>
      </article>
    {{/each}}
  </div>
</main>
